<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-option-heading" jhiTranslate="thesesManagerApp.option.home.createOrEditLabel">Create or edit a Option</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thesesManagerApp.option.optionName" for="field_optionName">Option Name</label>
                    <input type="text" class="form-control" name="optionName" id="field_optionName"
                           formControlName="optionName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thesesManagerApp.option.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="ENABLED">{{'thesesManagerApp.Status.ENABLED' | translate}}</option>
                        <option value="DISABLED">{{'thesesManagerApp.Status.DISABLED' | translate}}</option>
                        <option value="ARCHIVED">{{'thesesManagerApp.Status.ARCHIVED' | translate}}</option>
                        <option value="DRAFT">{{'thesesManagerApp.Status.DRAFT' | translate}}</option>
                        <option value="DELETED">{{'thesesManagerApp.Status.DELETED' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thesesManagerApp.option.department" for="field_department">Department</label>
                    <select class="form-control" id="field_department" name="department" formControlName="departmentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentOption.id" *ngFor="let departmentOption of departments; trackBy: trackById">{{departmentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
