<div>
    <h2 id="page-heading">
        <span jhiTranslate="thesesManagerApp.document.home.title">Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document" [routerLink]="['/document/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="thesesManagerApp.document.home.createLabel">
            Create a new Document
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="documents?.length === 0">
        <span jhiTranslate="thesesManagerApp.document.home.notFound">No documents found</span>
    </div>
    <div class="table-responsive" *ngIf="documents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="title"><span jhiTranslate="thesesManagerApp.document.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="defenseDate"><span jhiTranslate="thesesManagerApp.document.defenseDate">Defense Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="authorName"><span jhiTranslate="thesesManagerApp.document.authorName">Author Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="supervisorName"><span jhiTranslate="thesesManagerApp.document.supervisorName">Supervisor Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--            <th scope="col"  jhiSortBy="file"><span jhiTranslate="thesesManagerApp.document.file">File</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col"  jhiSortBy="status"><span jhiTranslate="thesesManagerApp.document.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'" scope="col"  jhiSortBy="optionId"><span jhiTranslate="thesesManagerApp.document.option">Option</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of documents;trackBy: trackId">
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'"><a [routerLink]="['/document', document.id, 'view' ]">{{document.id}}</a></td>
                <td>{{document.title}}</td>
                <td>{{document.defenseDate | date:'mediumDate'}}</td>
                <td>{{document.authorName}}</td>
                <td>{{document.supervisorName}}</td>
                <!--<td>
                    <a *ngIf="document.file" (click)="downloadFile(document.fileContentType, document.file, document.title.trim())" jhiTranslate="entity.action.download">Download</a>
                    <span *ngIf="document.file">{{document.fileContentType}}, {{byteSize(document.file)}}</span>
                </td>-->
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'" jhiTranslate="{{'thesesManagerApp.Status.' + document.status}}">{{document.status}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <div *ngIf="document.optionId">
                        <a [routerLink]="['/option', document.optionId , 'view' ]" >{{document.optionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/document', document.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/document', document.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(document)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <button type="submit" (click)="downloadFile(document.fileContentType, document.file, document.title.trim())"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'download'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.download">Download</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="documents?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
